<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=/assets/style.css type=text/css rel=stylesheet /> 
    <title>Document</title>
</head>
<body>
    <h1>ESCLAVO AGREGADO</h1>
    <table>
      <tr>
        <th>Nombre</th>
        <td><%=nombre%></td>
      </tr>
      <tr>
        <th>NSS</th>
        <td><%=nss%></td>
      </tr>
      <tr>
        <th>Edad</th>
        <td><%=edad%></td>
      </tr>
      <tr>
        <th>Tipo de Sangre</th>
        <td><%=tipoSangre%></td>
      </tr>
    </table>
    
</body>
</html>
