<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>AGREGAR PERSONA</h1>


    <form action="/addPerson" method="POST">
        <label for="nss">NSS:</label>
        <input type="text" id="nss" name="nss"> <br><br>
        
        <label for="name">NOMBRE:</label>
        <input type="text" id="name" name="name"> <br><br>

        <label for="age">EDAD:</label>
        <input type="text" id="age" name="age"> <br><br>
        
        <label for="bloodGroup">TIPO DE SANGRE</label>
        <input type="bloodGroup" id="bloodGroup" name="bloodGroup"> <br><br>

        <input type="submit" value="Submit">

    </form>
</body>
</html>